{% extends "blog/base.html" %}
{% load static %}
{% block content %}

    <div class="c0l-sm-10">
        <h3 class="tet my-5 ">About  Page </h3>

        <p>Lorem ipsum, dolor sit amet consectetur
             adipisicing elit. Iusto sunt nobis commodi.
             Expedita corporis earum eligendi,
              id laborum hic impedit.</p>
        
        
              <p>Lorem ipsum, dolor sit amet consectetur
                adipisicing elit. Iusto sunt nobis commodi.
                Expedita corporis earum eligendi,
                 id laborum hic impedit.</p>
              
                 

    </div>

{% endblock content %}