{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <div class="c0l-sm-10">
        <h3 class="tet my-5 ">Home Page </h3>
        {% for posts in posts  %}
        
      
        <div class="jumbotron jumbotron-fluid jumbo-color ">
            <div class="container">
              <h1 class="display-4 font-weight-bold  "> {{posts.title}} </h1>
              <p class="lead"> {{posts.desc}} </p>
            </div>
          </div>
        {% endfor %}

    </div>

{% endblock content %}