{% extends "myapp/base.html" %}
{% load static %}

{% block content %}
 <div class="row offset-2 p-5">
      <div class="col-sm-3">
         Lorem ipsum dolor sit, amet consectetur
          adipisicing elit. Mollitia ut repudiandae minima
           nostrum consectetur, iste expedita ad assumenda?
            Obcaecati, expedita.
      </div>
      <div class="col-sm-3">
        Lorem ipsum dolor sit, amet consectetur
         adipisicing elit. Mollitia ut repudiandae minima
          nostrum consectetur, iste expedita ad assumenda?
           Obcaecati, expedita.
     </div>
     <div class="col-sm-3">
        Lorem ipsum dolor sit, amet consectetur
         adipisicing elit. Mollitia ut repudiandae minima
          nostrum consectetur, iste expedita ad assumenda?
           Obcaecati, expedita.
     </div>
 </div>

{% endblock content %}
