{% extends "core/base.html" %}
{% block content %}
    
  <div class="contaner mt-5">
       <h1 class="text-wraning mb-5 border-bottom"> CONTACT US</h1>
       <div class="row text-white mb-5">
         <p class="mx-auto mb-5">
            Do you have any questions? Please do not hesitate to CONTACT.
            I will come back to you within a matter of 
            hours to help you.
         </p>
         <div class="col-sm-9 mb-5"> 
            <form action="" >
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputName">Your name</label>
                        <input type="text"class="form-control" id="inputName">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="inputEmail">Your Email *</label>
                        <input type="text"class="form-control" id="inputEmail" required>
                    </div> 
                </div>
                <div class="form-group ">
                    <label for="inputSuject">Your Subject</label>
                    <input type="text"class="form-control" id="inputSubject">
                </div>
                <div class="mb-3">
                    <label for="inputTextarea">Your Message</label>
                    <textarea type="text"class="form-control" id="inputTextarea" required></textarea>
                </div>
                <button class="btn tn-primary" type="submit" >Send</button>
            </form>
         
        </div>
        <div class="col-sm-3 text-center">
            <ul class="list-unstyled">
                <li>
                    <i class="fas fa-map-marker-alt fa-2x i-colo">
                        <p>Ranchi, Jharkhand,India</p>
                    </i>
                </li>
                <li>
                    <i class="fas fa-phone mt-4 fa-2x i-colo">
                        <p>+ 91 90000000 </p>
                    </i>
                </li>
                <li>
                    <i class="fas fa-envelope mt-4 fa-2x i-colo">
                        <p>contact@email.com</p>
                    </i>
                </li>

            </ul>
        </div>

       </div>
  </div>
  <div class="text-center">
    <a href="#" target=_blank> <i class="fab fa-twitter i-colo mr-3"></i> </a>
    <a href="#" target=_blank> <i class="fab fa-facebook-f i-colo mr-3"></i> </a>
    <a href="#" target=_blank> <i class="fab fa-instagram i-colo mr-3"></i> </a>
    <a href="#" target=_blank> <i class="fab fa-dribble i-colo mr-3"></i> </a>
  
</div>
{% endblock content %}