<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    <h1>Profile Page</h1>
    <h3>Welcome  {{name}} </h3>
    
    {% if messages %}
    {% for message in messages  %}
    <small {% if message.tages %} class="{{message.tags}} "
     {% endif %} >{{message}} </small>
    {% endfor %}
 {% endif %} 


 <form action="" method="POST">
    {% csrf_token %}
   {% for fm in form %}
   {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}<br><br>

   
   {% endfor %}
   <input type="submit" value="Save">

 </form>

 <a href="{% url 'changepass' %} ">Change Password </a>
 <a href="{% url 'logout' %} ">Logout</a>

</body>
</html>