<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home Page</h1>
    {% for post in page_obj  %}
        <h2>{{post.title}} </h2>  
        <p>{{post.desc}} </p>
        <small>{{post.publish_date}} </small>  
    {% endfor %}

    <div>
        <span>
            {% if page_obj.has_previous  %}
                <a href="?page={{page_obj.previous_page_number}} ">Previous </a>
            {% endif %}
              <span>{{page_obj.number}} </span>

            {% if page_obj.has_next   %}
                     <a href="?page={{page_obj.next_page_number}}">Next  </a>
            {% endif %}
            
        </span>
    </div>
</body>
</html>